@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-start-hex: #000000;
  --color-hex: #222222;
  --color-end-hex: #444444;

  --bg-start-hex: #ffffff;
  --bg-hex: #faf2f4;
  --bg-end-hex: #f2f4f8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-start-hex: #ffffff;
    --color-hex: #faf2f4;
    --color-end-hex: #f2f4f8;

    --bg-start-hex: #000000;
    --bg-hex: #222222;
    --bg-end-hex: #444444;
  }
}

body {
  color: var(--color-hex);
  background: var(--bg-hex);
}

@layer base {
  .container {
    @apply mx-auto !w-[90%] !max-w-[1280px];
  }
}
