@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-start-hex: #000000;
  --color-hex: #111111;
  --color-end-hex: #333333;

  --bg-start-hex: #ffffff;
  --bg-hex: #faf2f4;
  --bg-end-hex: #f2f4f8;

  --bg-gradient: linear-gradient(90deg, var(--bg-start-hex) 0%, var(--bg-hex) 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-start-hex: #ffffff;
    --color-hex: #faf2f4;
    --color-end-hex: #f2f4f8;

    --bg-start-hex: #000000;
    --bg-hex: #111111;
    --bg-end-hex: #333333;

    --bg-gradient: linear-gradient(90deg, var(--bg-start-hex) 0%, var(--bg-hex) 100%);
  }
}

body {
  color: var(--color-hex);
  background: var(--bg-gradient);
  min-height: 100vh;
}

@layer base {
  .container {
    @apply mx-auto !w-[90%] !max-w-[1280px];
  }
}
